<h2 style="font-family: Muli;">CONVERSOR A GRADOS FARENHEIT</h2>
<div style="width: 200px;">
    <input class="input-group mb-2" type="text" [(ngModel)]="temperaturaGradosCentigrados">
</div>
<button style="font-family: Muli;" class="btn btn-danger" (click)="conversorAFarenheit()">Calcular</button>
<p style="font-family: Muli;">La temperatura en grados centigrados es : {{temperaturaGradosCentigrados}}</p>
<p style="font-family: Muli;">La temperatura en grados farenheit es : {{resultadoFarenheit}}</p>